body {
  background-color: #000000;
  color: white;
  font-family: Verdana;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
<style>
a:link {
  color: ff01ff;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: ff01ff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: ff01ff;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: ff01ff;
  background-color: transparent;
  text-decoration: underline;
}
</style>
